*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:#f3f4f6;
}

/* NAVBAR */

.navbar{
    height:68px;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 32px;
    box-shadow:0 2px 10px rgba(0,0,0,0.03);
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
    font-size:16px;
    font-weight:700;
}

.logo i{
    width:42px;
    height:42px;
    background:#2563eb;
    color:white;
    border-radius:12px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:16px;
}

/* MENU */

.menu{
    display:flex;
    align-items:center;
    list-style:none;
    gap:10px;
}

.menu li a{
    text-decoration:none;
    color:#64748b;
    padding:9px 15px;
    border-radius:10px;
    transition:0.3s;
    font-size:14px;
}

.menu li a.active,
.menu li a:hover{
    background:#2563eb;
    color:white;
}

/* CONTAINER */

.container{
    padding:25px 35px;
}

/* HERO */

.hero{
    background:linear-gradient(
        135deg,
        #1d4ed8,
        #3b82f6
    );

    border-radius:22px;
    padding:28px 32px;
    color:white;
    margin-bottom:25px;
}

.hero h1{
    font-size:34px;
    margin:8px 0;
}

.desc{
    width:55%;
    line-height:1.6;
    font-size:14px;
}

/* CARD */

.card-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:16px;
    margin-bottom:28px;
}

.card{
    background:white;
    border-radius:18px;
    padding:20px;
}

.icon{
    width:46px;
    height:46px;
    border-radius:14px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:15px;
    font-size:18px;
}

.blue{
    background:#dbeafe;
    color:#2563eb;
}

.green{
    background:#dcfce7;
    color:#16a34a;
}

.red{
    background:#fee2e2;
    color:#dc2626;
}

.teal{
    background:#ccfbf1;
    color:#0f766e;
}

.card h1{
    font-size:22px;
    margin-bottom:8px;
}

.card h3{
    font-size:15px;
    margin-bottom:5px;
}

.card p{
    color:#94a3b8;
    font-size:13px;
}

/* TABLE */

.table-box{
    background:white;
    border-radius:18px;
    padding:20px;
}

.table-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:18px;
}

.table-header h2{
    font-size:18px;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th{
    text-align:left;
    background:#f8fafc;
    padding:14px;
    color:#334155;
    font-size:13px;
    border:1px solid #e2e8f0;
}

table td{
    padding:14px;
    font-size:13px;
    border:1px solid #e2e8f0;
}

tbody tr:hover{
    background:#f8fafc;
}

.success{
    background:#dcfce7;
    color:#16a34a;
    padding:6px 12px;
    border-radius:20px;
    font-size:12px;
}

.danger{
    background:#fee2e2;
    color:#dc2626;
    padding:6px 12px;
    border-radius:20px;
    font-size:12px;
}